## 튜플 자료형
### 특징
- 순차 자료구조
- 수정 불가 리스트
- 추가, 수정, 삭제가 불가
> 자바의 unmodifiable List와 비슷

In [2]:
fruits = ("사과", "오렌지", "바나나", "멜론")

In [3]:
fruits[0]

'사과'

In [5]:
fruits[1] = "(수정)오렌지"

TypeError: 'tuple' object does not support item assignment

In [6]:
del fruits[0]

TypeError: 'tuple' object doesn't support item deletion

In [7]:
fruits2 = list(fruits)
fruits2

['사과', '오렌지', '바나나', '멜론']

In [8]:
fruits2[1] = "(수정)오렌지"
fruits2

['사과', '(수정)오렌지', '바나나', '멜론']

In [9]:
type(fruits)

tuple

In [10]:
a = (10)
type(a)

int

In [11]:
a

10

In [12]:
a = (10,)
print(type(a))
print(a)

<class 'tuple'>
(10,)

### 기타
- 튜플에서 \( \)는 생략 가능
- 변수에 튜플 값을 순서대로 할당

In [13]:
a = (10, 20, 30)
print(a,type(a))

b = 10, 20, 30 #튜플
print(b, type(b))

(10, 20, 30) <class 'tuple'>
(10, 20, 30) <class 'tuple'>

In [16]:
# (c, d) = (10, 20)
# c, d = (10, 20)
c, d = 10, 20

In [ ]:
print(c, d)

10 20

In [ ]:
a = 10
b = 20

In [21]:
tmp = a
a = b
b = tmp
print(a, b)

10 20

In [23]:
b, a = a, b
print(a, b)

10 20