In [18]:
import pandas as pd

In [21]:
df = pd.read_csv('https://bit.ly/fish_csv_data')
df.head()

  Species  Weight  Length  Diagonal   Height   Width
0   Bream   242.0    25.4      30.0  11.5200  4.0200
1   Bream   290.0    26.3      31.2  12.4800  4.3056
2   Bream   340.0    26.5      31.1  12.3778  4.6961
3   Bream   363.0    29.0      33.5  12.7300  4.4555
4   Bream   430.0    29.0      34.0  12.4440  5.1340

In [23]:
fish_target = df['Species'].to_numpy()
fish_data = df[['Weight', 'Length', 'Diagonal', 'Height', 'Width']].to_numpy()

In [24]:
import numpy as np
np.unique(fish_target)

array(['Bream', 'Parkki', 'Perch', 'Pike', 'Roach', 'Smelt', 'Whitefish'],
      dtype=object)

In [26]:
# 이진 분류
bream_smelt_indexes = (fish_target == 'Bream') | (fish_target == 'Smelt') # 도미와 방어의 위치 인덱스(True)

bream_smelt_data = fish_data[bream_smelt_indexes]
bream_smelt_target = fish_target[bream_smelt_indexes]

In [ ]:
# 도미 + 방어 데이터를 훈련 세트와 테스트 세트로 분리
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(
    bream_smelt_data, bream_smelt_target, test_size=0.2, random_state=42
)

In [ ]:
# 정규화 / 표준점수
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [ ]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()