## 파이썬 함수의 구조
```python
def 함수명(매개변수 정의):
	수행될 코드
```

In [3]:
def add(num1, num2):
    return num1 + num2

In [4]:
result = add(10, 20)
result

30

In [6]:
add(num2=20, num1=10)

30

## 함수의 매개변수 기본값
```python
def add(num1, num2 = 10):
    return num1 + num2
```

> 매개변수의 기본값은 끝에서부터 차례대로 설정

In [8]:
def add(num1, num2 = 10):
    return num1 + num2

In [9]:
add(20)

30

## 가변 매개변수
- 매개변수에 *를 붙인다.
    - 입력한 값은 튜플 담긴다.
- 키워드 가변 매개변수
    - 매개변수에 **를 붙인다.
    - 딕셔너리 형태로 값이 담긴다.

In [20]:
def calc(oper, *args):
    result = 0
    if oper == 'add':
        for num in args: result += num
    elif oper == 'mul':
        result = 1
        for num in args: result *= num

    return result

In [15]:
calc("add", 10, 20, 30, 40)

100

In [22]:
calc('mul', 10, 20, 30, 40)

240000

In [23]:
# 파이썬 함수 이름 또는 변수의 이름을 짓는 경우 snake_case 형태로 사용 단어와 단어 사이 _로 붙인다.
def print_value(**kwargs):
    print(kwargs)

In [24]:
print_value(name='이이름', age=40)

{'name': '이이름', 'age': 40}

In [45]:
print_value(10, 20, 30, name='이이름', age=40)

args (10, 20, 30)
kwargs {'name': '이이름', 'age': 40}

In [38]:
def print_value(*args, **kwargs):
    print("args", args)
    print("kwargs", kwargs)

In [40]:
print_value(10, 20, 30, name='이이름', age=40)

args (10, 20, 30)
kwargs {'name': '이이름', 'age': 40}

In [42]:
def calc(num1, num2):
    return num1 + num2, num1 - num2, num1 * num2, num1 / num2

In [46]:
result = calc(20, 10)
result

(30, 10, 200, 2.0)

In [47]:
add_result, sub_result, mul_result, div_result = calc(20, 10)
print(add_result, sub_result, mul_result, div_result)

30 10 200 2.0

## 전역 변수, 지역 변수 

> 순수함수 : 함수 내의 연산 결과가 전역 변수로 지정된 자원에 영향을 미치지 않는 함수 (부작용이 없는 함수)

In [50]:
a = 100 # 전역변수
def calc():
    global a # 전역변수를 지역내에서 접근할 때
    
    b = 200 # 지역변수
    return a + b

In [51]:
calc()

300

## 함수형 프로그래밍
- 매개변수로 함수를 사용
	- 사용자 정의 기능
- 반환값으로 함수를 사용
	- 팩토리 함수
	- 고차 함수
	- 함수 안에 함수를 정의할 수 있어야 함

- 람다식
```python
	lambda 매개변수 정의: 실행될 내용
```

In [55]:
def calc(callback):
    num1 = 10
    num2 = 20
    result = callback(num1, num2)

    return result * result

In [56]:
def add(num1, num2):
    return num1 + num2

In [57]:
calc(add)

900

In [58]:
add = lambda a, b: a + b

In [59]:
add(10, 20)

30

In [60]:
calc(lambda a, b: a * b)

40000

In [61]:
def add(num1):

    def add2(num2):
        return num1 + num2

    return add2

In [62]:
add10 = add(10)

In [63]:
add10(20)

30

In [64]:
add(10)(20)

30

# 함수 안에 함수를 정의하고 실행
- 응용 사례 : 데코레이터

In [78]:
import time

def time_lapse(func):
    def wrapper(*args, **kwargs):
        start = time.time() # 함수 실행 전 시간 측정

        result = func(*args, **kwargs)

        end = time.time() # 함수 실행 후 시간 측정
        print("걸린시간 %d" % (end - start))
        return result

    return wrapper

In [79]:
@time_lapse
def somefunc():
    print("어떤 기능 실행")

In [80]:
somefunc()

어떤 기능 실행
걸린시간 0

In [81]:
@time_lapse
def factorial(num):
    if num < 1:
        return 1
        
    return num * factorial(num - 1)

In [82]:
factorial(10)

걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0

3628800

In [83]:
fact = time_lapse(factorial)

In [84]:
fact(10)

걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0

3628800