In [2]:
# import faker # faker.Faker
from faker import Faker

In [139]:
faker = Faker("ko-KR")

In [140]:
faker.name()

'김승현'

In [141]:
members = [(faker.name(), faker.address()) for _ in range(30)]

In [142]:
members

[('이영길', '인천광역시 영등포구 서초대가 515-58'),
 ('강정숙', '인천광역시 광진구 강남대18거리 564-78 (영순이안리)'),
 ('송예원', '경상북도 용인시 처인구 압구정로 413-30 (영순이리)'),
 ('허준서', '전라남도 고양시 덕양구 압구정길 72'),
 ('류윤서', '대전광역시 동작구 서초대56거리 228-54'),
 ('김수민', '부산광역시 남구 영동대로 488-25'),
 ('배영일', '제주특별자치도 안양시 만안구 서초대044로 15-96 (정남김강마을)'),
 ('윤예원', '경상북도 인제군 도산대419가 169-59'),
 ('박명숙', '전라남도 청주시 서원구 가락62로 371 (종수배면)'),
 ('김민수', '경상남도 고양시 덕양구 언주로 16-20'),
 ('이은정', '제주특별자치도 고성군 서초중앙길 584-27'),
 ('이은지', '전라남도 김포시 백제고분2길 692 (서연김김마을)'),
 ('이영숙', '경상북도 이천시 논현6로 555-94 (수진이박동)'),
 ('윤선영', '경기도 계룡시 봉은사828길 571'),
 ('김은영', '서울특별시 강북구 강남대9가 749 (성훈서김마을)'),
 ('김민지', '광주광역시 강동구 역삼6길 901 (현주이동)'),
 ('김정수', '강원도 청주시 서원구 잠실2로 지하376'),
 ('서보람', '서울특별시 종로구 강남대길 805-63 (옥자강김리)'),
 ('이영환', '울산광역시 영등포구 서초중앙552로 103'),
 ('이은지', '경상남도 수원시 영통구 개포로 658'),
 ('김영식', '울산광역시 금천구 잠실1길 763-75 (민석안박면)'),
 ('장하윤', '전라남도 계룡시 봉은사로 362'),
 ('이진호', '전라남도 태백시 삼성1로 329-2'),
 ('김승현', '제주특별자치도 춘천시 오금거리 454-52'),
 ('강은지', '대구광역시 은평구 역삼97가 148 (민서김김읍)'),
 ('박서영', '세종특별자치시 서초구 봉은사8길 133-88'),
 ('이영진', '울산광역시 강남구 삼성279길 305'),
 ('이은정', '전라북도 고양시 덕양구 강남대691로 978 (현우차서마을)'),
 ('강영길', '대구광역시 서초구 역삼549거리 지하673 (선영양동)'),
 ('노준서', '전라남도 이천시 반포대거리 625 (상훈이마을)')]

In [146]:
"이이름".encode("euc-kr")

b'\xc0\xcc\xc0\xcc\xb8\xa7'